<div class="list-layout">
  <table class='table'>
    <thead>
      <tr>
        <th> No. </th>
        <th *ngFor="let heading of headings">{{ heading.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; index as i">
        <td>{{ i + 1 }}</td>
        <td *ngFor="let heading of headings" [style.width]="heading.width ? heading.width : ''">
          <a *ngIf="heading.link == './view-effects'" [routerLink]="[heading.link, row.id]">View effects</a>
          <a *ngIf="heading.link == '/view-genes'" [routerLink]="[heading.link]">View effects</a>
          <a *ngIf="!heading.link">{{ row[heading.key] }}</a></td>
      </tr>
    </tbody>
    <article class="d-flex justify-content-center align-content-center mt-5">
      <h4 class="weight-small">Items per page:</h4>
      <select [(ngModel)]="itemsPerPage" class="inline">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>

      <pagination-controls class="d-flex pagination-width m-0 mt-2" (pageChange)="p = $event">
      </pagination-controls>
    </article>
  </table>
</div>
