@import '../../shared/styles/variables.scss';
.effect {
    width: 1000px;
    margin: 40px auto;
    h1 {
        border-bottom: 3px solid $primaryColor;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }
    .flex-section {
        display: flex;
        justify-content: space-between;
    }
    .section {
        flex-basis: 30%;
        border: 1px solid $primaryColor;
        font-size: 16px;
        h2 {
            color: $secondaryColor;
            background-color: $primaryColor;
            margin: -1px;
            padding: 20px;
            text-align: center;
        }
        p {
            padding: 10px 20px;
        }
    }
}