<section class="effect">
    <h1> Gene {{gene.name}}</h1>
    <section class="flex-section">
        <article class="section">
            <h2>Location</h2>
            <p> Chromosome: {{ gene.chr }} </p>
            <p> Position start: {{ gene.startN }} </p>
            <p> Position stop: {{ gene.stopN }} </p>
        </article>
        <article class="section">
            <h2>Protein description</h2>
            <p> {{ gene.description }} </p>
        </article>
        <article class="section">
            <h2>Role</h2>
            <p> {{ gene.effect }} </p>
        </article>
    </section>
</section>