@import '../../shared/styles/variables.scss';
.find {
    margin: 0 auto;
    width: 1400px;
    text-align: right;
    .inline {
        display: inline;
        margin-left: 10px;
    }
    .next {
        padding: 0px 6px;
        color: $primaryColor;
    }
    .space {
        margin: 20px 0;
    }
}