<section class="find">

    <article class="space">
        <h4 class="inline">Sort by:</h4>
        <select class="inline" [(ngModel)]='model'>
          <option value="idAsc" selected="selected">Id Ascending</option>
          <option value="idDesc">Id Descending</option>
          <option value="lengthAsc">Length Ascending</option>
          <option value="lengthDesc">Length Descending</option>
          <option value="proteinAsc">Protein Description A-Z</option>
          <option value="proteinDesc">Protein Description Z-A</option>
        </select>

        <h4 class="inline">Filter by id:</h4>
        <form class="inline">
            <input #filters type="text" placeholder="Search.." name="search">
            <button type="submit" (click)="changeFilter(filters.value)"><i class="fa fa-search"></i></button>
        </form>

    </article>

    <app-table [headings]='headings' [data]="orderBy(model)"></app-table>

</section>