<section class="find">

    <article class="space">
        <h4 class="inline">Sort by:</h4>
        <select class="inline">
          <option value="name1">Date descending</option>
          <option value="name2">Date ascending</option>
        </select>

        <h4 class="inline">Filter by name:</h4>
        <form class="inline">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </article>

    <app-table [headings]='headings' [data]='dataTable'></app-table>

    <article class="space">
        <h4 class="inline">Item per page:</h4>
        <select class="inline">
      <option value="name1">5</option>
      <option value="name2">10</option>
      <option value="name3">15</option>
    </select>

        <h4 class="inline">1-5 of 50</h4>
        <button class="next inline ">|< </button> <button class="next"> < </button>
        <button class="next inline"> > </button> <button class="next"> >| </button>
    </article>
</section>